aiohttp==3.11.18
aiofiles==23.1.0
dotenv==0.9.9
fastapi==0.115.12
numpy==2.2.4
openai==1.75.0
paddlepaddle==3.0.0rc1
pillow==11.1.0
propcache==0.3.1
pydantic==2.11.3
pydantic-settings
tqdm
python-dotenv==1.1.0
requests==2.32.3
python-multipart
pdf2image
pdfplumber
uvicorn==0.22.0
paddlepaddle
paddleocr
setuptools